@import '@assets/colors';

.noTasks {
  margin: 4rem 0;
  text-align: center;

  & img {
    margin-bottom: 1rem;
  }

  & h2 {
    font-weight: bold;
  }

  & h2,
  & h3 {
    color: $gray-300;
  }
}