@import '@assets/colors';

.noTasks {
  text-align: center;

  margin: 3.25rem 0 4rem;

  & img {
    margin-bottom: 1rem;
  }

  & h2 {
    font-weight: bold;
  }

  & h2,
  & h3 {
    color: $gray-300;
  }
}