@import '@assets/colors';

.checkbox[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;

  border-radius: 50%;
  border: 2px solid $blue;

  outline: none;
  cursor: pointer;
  appearance: none;
  vertical-align: middle;
  -webkit-appearance: none;

  &:focus {
    border-color: $purple;
  }

  &:checked {
    border: none;
    background-color: $purple;

    &+label {
      color: $gray-300;
      text-decoration: line-through;
    }
  }
}

.checkIcon {
  padding: 0.12rem;

  position: absolute;
  pointer-events: none;
}