@import '@assets/colors';

.tasksCounter {
  display: flex;
  margin-top: 5.625rem;
  justify-content: space-between;

  & span {
    font-weight: bold;
  }

  &>span {
    font-size: 0.875rem;

    &:first-child {
      color: $blue;
    }

    &:last-child {
      color: $purple;
    }

    & span {
      font-size: 0.75rem;
      margin-left: 0.5rem;
      border-radius: 30px;
      padding: 0.125rem 0.5rem;

      color: $gray-200;
      background-color: $gray-400;
    }
  }
}